/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
  --bg: #DEBACE;
  --nvbr: #7F669D;
  --nvbr-hover: #695582;
  --text: #ffffff;
  --wborder: #7F669D;
  --wbg: #ba94d1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  color: var(--text);
  background: var(--bg);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Lilita One', cursive;
  font-size: 15px;
  letter-spacing: .1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#nprogress .bar {
  background: var(--bg);

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}
